RewriteEngine On
RewriteBase /

# Se o arquivo ou diretório existe, sirva diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecione tudo para index.html
RewriteRule ^ index.html [QSA,L]
